@font-face{
	font-family:Digital;
	src: url('digitalism.ttf');
}


body{
	background:black;
	overflow:hidden;
}

#title{
	font-family:Digital;
	color:red;
	font-size:3.5em;
	width:100%;
	text-align: center;
	position:absolute;
	top:300px;
	opacity: .5;
}

#clock{
	width:900px;
	position:absolute;
	left:50%;
	margin-left:-450px;
	top:44%;
	
}

#qr_code{
	position:absolute;
	width:100px;
	height:100px;
	background:grey;
}

#time{
	font-family:Digital;
	color:white;
	font-size: 3em;
	position: absolute;
	width:100%;
	text-align: center;
	bottom:20px;
}

img{
	position:absolute;
	top:-30px;
	left:50%;
	margin-left:-40%;
}


#helpbtn{
	-o-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
	position:absolute;
	right:30px;
	top:30px;
	background:url(../qmark.png);
	background-size:100% 100%;
	height:40px;
	width:40px;
	cursor:pointer;
	opacity:.3;
}

#helpbtn:hover{
	opacity:.6;
}

#helpbox{
	-o-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
	right:100px;
	top:100px;
	position:absolute;
	width:300px;
	height:100px;
	background:white;
	opacity:.5;
	border-radius: 10px;
	opacity:0;
}

#instr{
	position:relative;
	text-align: center;
	left:50%;
	width:290px;
	margin-left:-145px;;
	font-family:Helvetica;
}

#debug-window{
	position:absolute;
	bottom:30px;
	left:20px;
	width:300px;
	height:100px;
	background:white;
}

#hour_label{
	margin-top:110px;
	margin-left:130px;
}

#hour-input{
	text-align:center;
	margin-left:100px;
}
